html
  height: 100%

body
  height: 100%
  margin: 0
  position: relative
  overflow: hidden

img
  position: absolute

.point
  position: absolute
  width: 5px
  height: 5px
  background-color: red
  z-index: 9000
